<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
            {{form2.username}}<br>
            {{form2.password1}}<br>
            {{form2.password2}}<br>
            {{form.name}}<br>
            {{form.phone}}<br>
            {{form.email}}<br>
            {{form.profile_pic}}<br>
            <input type="submit"/>
    </form>

    </form>
</body>
</html>