{%  extends 'accounts/main.html' %}

{% block content %}
	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Oeder</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.email}} </p>
			<p>Phone: {{customer.phone}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders </h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{orders_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm display" id='dtable'>
				<thead>
					<tr>
						<th>Product</th>
						<th>Category</th>
						<th>Date Orderd</th>
						<th>Note</th>
						<th>Status</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
				{% for order in  orders %}

					<tr>
						<th>{{order.product}}</th>
						<th>{{order.product.category}}</th>
						<th>{{order.date_created}}</th>
						<th>{{order.note}}</th>
						<th>{{order.status}}</th>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}"> Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}" onclick="return confirm('Are you sure?')"> Delete</a></td>
					</tr>
				{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>

{% endblock %}

