{% load static %}
<style>
  .hello-msg{
    font-size: 18 px;
    color: #fff;
    margin-right: 20 px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src = "{% static  'images/logo.png'%}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Settings</a>
        </li>
        {% endif%}
      </ul>
    </div>
    <span class= 'hello-msg'> Hello,  {{request.user}}</span>
    <span class='hello-msg'><a class= 'hello-msg' href="{% url 'logout' %}">Logout</a></span>
  </nav>