{% extends 'accounts/main.html'%}
{% load static %}
{% block content%}

<form action= "" method = "post">
    {% csrf_token %}
	{{ form.management_form }}
	{% for field in form %}
		{{field}}
		<hr>
	{% endfor %}
    <input type ="submit" name="Submit">
</form>
{% endblock %}