{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm display" id='dtable'>
				<thead>
					<tr>
						<th>Product</th>
						<th>Category</th>
						<th>Date Orderd</th>
						<th>Note</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
				{% for order in  orders %}

					<tr>
						<th>{{order.product}}</th>
						<th>{{order.product.category}}</th>
						<th>{{order.date_created}}</th>
                        <th>{{order.note}}</th>
                        <th>{{order.status}}</th>
					</tr>
				{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>

{% endblock content %}